
__pycache__/
*.py[cod]
*.pyd

.venv/
venv/
env/

build/

*.egg-info/
*.egg
*.whl

*.exe
*.dll
*.so

.pytest_cache/
.tox/
.coverage
coverage.*
htmlcov/

.mypy_cache/
.ruff_cache/
.pyre/
.pytype/

.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db
Desktop.ini

*.log
*.tmp
*.bak

.env
.env.*
!.env.example

*.xlsx